# Analysis on TV Shows on Different OTT Platforms
This dataset includes data from 4 different OTT Platforms including Netflix, Hulu, Prime Video and Disney+.
The main aim of the analysis is to find which are the best shows and where can we find those shows.
Finding different statistics about the TV Shows on different platforms.

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
path=r'TV_Shows_OTT.csv'

In [3]:
dataframe=pd.read_csv(path)

In [4]:
dataframe.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [5]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5611 entries, 0 to 5610
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5611 non-null   int64
 1   Title            5611 non-null   object
 2   Year             5611 non-null   int64
 3   Age              3165 non-null   object
 4   IMDb             4450 non-null   float64
 5   Rotten Tomatoes  1011 non-null   object
 6   Netflix          5611 non-null   int64
 7   Hulu             5611 non-null   int64
 8   Prime Video      5611 non-null   int64
 9   Disney+          5611 non-null   int64
 10  type             5611 non-null   int64
dtypes: float64(1), int64(7), object(3)
memory usage: 482.3+ KB

In [6]:
dataframe.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,5611,NaN,NaN,NaN,2805,1619.9,0,1402.5,2805,4207.5,5610
Title,5611,5564,Kingdom,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,5611,NaN,NaN,NaN,2011.02,11.0051,1901,2010,2015,2017,2020
Age,3165,5,16+,1018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMDb,4450,NaN,NaN,NaN,7.11326,1.13206,1,6.6,7.3,7.9,9.6
Rotten Tomatoes,1011,88,100%,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netflix,5611,NaN,NaN,NaN,0.344145,0.475131,0,0,0,1,1
Hulu,5611,NaN,NaN,NaN,0.3126,0.463594,0,0,0,1,1
Prime Video,5611,NaN,NaN,NaN,0.382107,0.485946,0,0,0,1,1
Disney+,5611,NaN,NaN,NaN,0.0320798,0.176228,0,0,0,0,1
type,5611,NaN,NaN,NaN,1,0,1,1,1,1,1

In [7]:
dataframe.isnull().sum()

Unnamed: 0            0
Title                 0
Year                  0
Age                2446
IMDb               1161
Rotten Tomatoes    4600
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
type                  0
dtype: int64

In [8]:
empty_cells=((dataframe.isnull().sum())).sum()

In [9]:
empty_cells

8207

In [10]:
dataframe.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'type'],
      dtype='object')

In [11]:
dataframe['Netflix'].value_counts()

0    3680
1    1931
Name: Netflix, dtype: int64

In [12]:
dataframe['Hulu'].value_counts()

0    3857
1    1754
Name: Hulu, dtype: int64

In [13]:
dataframe['Prime Video'].value_counts()

0    3467
1    2144
Name: Prime Video, dtype: int64

In [14]:
dataframe['Disney+'].value_counts()

0    5431
1     180
Name: Disney+, dtype: int64

In [15]:
1931+1754+2144+180-5611
#Few Shows on More than 1 Platform

398

In [16]:
dataframe['Age'].value_counts()

16+    1018
7+      848
18+     750
all     545
13+       4
Name: Age, dtype: int64

In [17]:
topIMDb_Movies=dataframe[dataframe['IMDb']>=8.5]

In [18]:
topIMDb_Movies.shape

(309, 11)

In [19]:
topRottenTomatoes_Movies=dataframe[dataframe['Rotten Tomatoes']>='85%']

In [20]:
topRottenTomatoes_Movies.shape

(376, 11)

In [21]:
dataframe['Year'].value_counts()

2017    653
2016    573
2018    556
2015    454
2019    396
       ...
1949      1
1934      1
1931      1
1943      1
1904      1
Name: Year, Length: 81, dtype: int64

In [22]:
Best_IMDb_Show=dataframe[dataframe['IMDb']==max(dataframe['IMDb'])]
Best_IMDb_Show

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
3023,3023,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1

In [23]:
Best_Rotten_Tomatoes_Show=dataframe[dataframe['Rotten Tomatoes']=='100%']
Best_Rotten_Tomatoes_Show

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
9,9,Avatar: The Last Airbender,2005,7+,9.2,100%,1,0,0,0,1
15,15,Fullmetal Alchemist: Brotherhood,2009,18+,9.1,100%,1,1,0,0,1
23,23,One-Punch Man,2015,16+,8.8,100%,1,1,0,0,1
75,75,Master of None,2015,18+,8.3,100%,1,0,0,0,1
89,89,Fauda,2015,16+,8.3,100%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5458,5458,Star Wars Rebels,2014,7+,8.0,100%,0,0,0,1,1
5459,5459,DuckTales,2017,7+,8.2,100%,0,0,0,1,1
5465,5465,The Imagineering Story,2019,7+,9.1,100%,0,0,0,1,1
5469,5469,Lizzie McGuire,2001,all,6.6,100%,0,0,0,1,1
5509,5509,Diary of a Future President,2020,7+,5.5,100%,0,0,0,1,1

In [24]:
Best_Shows=np.where((dataframe['Rotten Tomatoes']=='100%') & (dataframe['IMDb']>=9.0))
#Best_Shows
dataframe.loc[Best_Shows]

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
9,9,Avatar: The Last Airbender,2005,7+,9.2,100%,1,0,0,0,1
15,15,Fullmetal Alchemist: Brotherhood,2009,18+,9.1,100%,1,1,0,0,1
3649,3649,The Planets,2019,all,9.1,100%,0,0,1,0,1
5465,5465,The Imagineering Story,2019,7+,9.1,100%,0,0,0,1,1

In [25]:
Best_shows_on_netflix=dataframe[(dataframe['IMDb']>=9.0) & (dataframe['Netflix']==1)]
#dataframe.loc[Best_shows_on_netflix]
print(Best_shows_on_netflix)
Best_shows_on_netflix.shape[0]

     Unnamed: 0                             Title  Year  Age  IMDb  \
0             0                      Breaking Bad  2008  18+   9.5
3             3                          Sherlock  2010  16+   9.1
9             9        Avatar: The Last Airbender  2005   7+   9.2
15           15  Fullmetal Alchemist: Brotherhood  2009  18+   9.1
59           59                 The Twilight Zone  1959   7+   9.0
85           85                        Death Note  2006  18+   9.0
91           91                        Our Planet  2019   7+   9.3
97           97                   The Vietnam War  2017  18+   9.1
282         282                   Yeh Meri Family  2018  NaN   9.2
303         303                     Frozen Planet  2011  all   9.0
325         325                           Ramayan  1987  all   9.3
341         341                            Africa  2013  all   9.0
489         489                          Humsafar  2011  all   9.0
612         612                Zindagi Gulzar Hai  2012  NaN   9.0

    Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  type
0               96%        1     0            0        0     1
3               78%        1     0            0        0     1
9              100%        1     0            0        0     1
15             100%        1     1            0        0     1
59              82%        1     1            0        0     1
85              NaN        1     1            0        0     1
91              93%        1     0            0        0     1
97              98%        1     0            0        0     1
282             NaN        1     0            0        0     1
303             NaN        1     0            0        0     1
325             NaN        1     0            0        0     1
341             NaN        1     0            0        0     1
489             NaN        1     0            0        0     1
612             NaN        1     0            0        0     1

14

In [26]:
Best_shows_on_hulu=dataframe[(dataframe['IMDb']>=9.0) & (dataframe['Hulu']==1)]
#dataframe.loc[Best_shows_on_netflix]
print(Best_shows_on_hulu)
Best_shows_on_hulu.shape[0]

      Unnamed: 0                                       Title  Year  Age  IMDb  \
15            15            Fullmetal Alchemist: Brotherhood  2009  18+   9.1
59            59                           The Twilight Zone  1959   7+   9.0
85            85                                  Death Note  2006  18+   9.0
1931        1931                              Rick and Morty  2013  18+   9.2
1939        1939                                     Firefly  2002  16+   9.0
2236        2236  Leah Remini: Scientology and the Aftermath  2016  16+   9.1
2302        2302                      How the Universe Works  2010   7+   9.0
2365        2365                         The Joy of Painting  1983  all   9.4
3023        3023                                     Destiny  2014  NaN   9.6
3090        3090                                      Fujiko  2015  NaN   9.0
3132        3132                              Special Forces  2012  NaN   9.0
3177        3177                                Hungry Henry  2014  NaN   9.5
3306        3306                               LittleBabyBum  2011  NaN   9.0

     Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  type
15              100%        1     1            0        0     1
59               82%        1     1            0        0     1
85               NaN        1     1            0        0     1
1931             94%        0     1            0        0     1
1939             85%        0     1            0        0     1
2236             NaN        0     1            0        0     1
2302             NaN        0     1            1        0     1
2365             NaN        0     1            1        0     1
3023             NaN        0     1            0        0     1
3090             NaN        0     1            0        0     1
3132             NaN        0     1            0        0     1
3177             NaN        0     1            0        0     1
3306             NaN        0     1            0        0     1

13

In [27]:
Best_shows_on_prime=dataframe[(dataframe['IMDb']>=9.0) & (dataframe['Prime Video']==1)]
#dataframe.loc[Best_shows_on_netflix]
print(Best_shows_on_prime)
Best_shows_on_prime.shape[0]

      Unnamed: 0                                     Title  Year  Age  IMDb  \
2302        2302                    How the Universe Works  2010   7+   9.0
2365        2365                       The Joy of Painting  1983  all   9.4
3566        3566                                  The Wire  2002  18+   9.3
3567        3567                          Band of Brothers  2001  18+   9.4
3568        3568                              The Sopranos  1999  18+   9.2
3649        3649                               The Planets  2019  all   9.1
3686        3686  The Test: A New Era For Australia's Team  2020  NaN   9.0
3701        3701                                  Baseball  1994  16+   9.2
3747        3747                              Malgudi Days  1987  all   9.5
3798        3798                                   The Bay  2010  NaN   9.2
4014        4014                            Free to Choose  1980  NaN   9.0
4029        4029                   Harmony with A R Rahman  2018  NaN   9.2
4041        4041                           Everyday Driver  2017  NaN   9.2
4128        4128                            Green Paradise  2011  all   9.3
4257        4257                        Single and Anxious  2016  NaN   9.2
4369        4369                      A Craftsman’s Legacy  2014  all   9.0
4492        4492                   Nature's Power Revealed  2008  NaN   9.0

     Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  type
2302             NaN        0     1            1        0     1
2365             NaN        0     1            1        0     1
3566             94%        0     0            1        0     1
3567             94%        0     0            1        0     1
3568             92%        0     0            1        0     1
3649            100%        0     0            1        0     1
3686             NaN        0     0            1        0     1
3701             NaN        0     0            1        0     1
3747             NaN        0     0            1        0     1
3798             NaN        0     0            1        0     1
4014             NaN        0     0            1        0     1
4029             NaN        0     0            1        0     1
4041             NaN        0     0            1        0     1
4128             NaN        0     0            1        0     1
4257             NaN        0     0            1        0     1
4369             NaN        0     0            1        0     1
4492             NaN        0     0            1        0     1

17

In [28]:
Best_shows_on_disney=dataframe[(dataframe['IMDb']>=9.0) & (dataframe['Disney+']==1)]
#dataframe.loc[Best_shows_on_netflix]
print(Best_shows_on_disney)
Best_shows_on_disney.shape[0]

      Unnamed: 0                   Title  Year Age  IMDb Rotten Tomatoes  \
5465        5465  The Imagineering Story  2019  7+   9.1            100%

      Netflix  Hulu  Prime Video  Disney+  type
5465        0     0            0        1     1

1

In [29]:
dataframe_per=dataframe['Rotten Tomatoes'].str.split("%", expand=True)
dataframe_per.head()

    0 1
0  96
1  93
2  91
3  78
4  97

In [30]:
dataframe_per[0]

0        96
1        93
2        91
3        78
4        97
       ...
5606    NaN
5607    NaN
5608    NaN
5609    NaN
5610    NaN
Name: 0, Length: 5611, dtype: object

In [31]:
dataframe['Rotten Tomatoes Value']=dataframe_per[0]

In [32]:
dataframe.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,Rotten Tomatoes Value
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,96
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,93
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,91
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,78
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,97

In [33]:
dataframe.drop('Rotten Tomatoes',axis=1,inplace=True)

In [34]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5611 entries, 0 to 5610
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             5611 non-null   int64
 1   Title                  5611 non-null   object
 2   Year                   5611 non-null   int64
 3   Age                    3165 non-null   object
 4   IMDb                   4450 non-null   float64
 5   Netflix                5611 non-null   int64
 6   Hulu                   5611 non-null   int64
 7   Prime Video            5611 non-null   int64
 8   Disney+                5611 non-null   int64
 9   type                   5611 non-null   int64
 10  Rotten Tomatoes Value  1011 non-null   object
dtypes: float64(1), int64(7), object(3)
memory usage: 482.3+ KB

In [35]:
dataframe.head()

,Unnamed: 0,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,type,Rotten Tomatoes Value
0,0,Breaking Bad,2008,18+,9.5,1,0,0,0,1,96
1,1,Stranger Things,2016,16+,8.8,1,0,0,0,1,93
2,2,Money Heist,2017,18+,8.4,1,0,0,0,1,91
3,3,Sherlock,2010,16+,9.1,1,0,0,0,1,78
4,4,Better Call Saul,2015,18+,8.7,1,0,0,0,1,97

In [36]:
dataframe.rename(columns={'Rotten Tomatoes Value':'Rotten Tomatoes Percentage'},inplace=True)

In [37]:
dataframe.tail()

,Unnamed: 0,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,type,Rotten Tomatoes Percentage
5606,5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,0,0,0,1,1,NaN
5607,5607,Paradise Islands,2017,NaN,NaN,0,0,0,1,1,NaN
5608,5608,Wild Russia,2018,NaN,NaN,0,0,0,1,1,NaN
5609,5609,Love & Vets,2017,NaN,NaN,0,0,0,1,1,NaN
5610,5610,United States of Animals,2016,NaN,NaN,0,0,0,1,1,NaN

Analysis By:
Rutu Desai